@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --border-color: #929292;
    --clr: #121212;
    --org: #fd7e14;
}

/* HEADER SECTION */

#header {
    border-bottom: 1px solid silver;
}

#header ul {
    display: flex;
    justify-content: end;
    margin-right: 13rem;
    align-items: center;
    border-bottom: 1px solid silver;
}

#header ul li {
    list-style: none;
}

#header ul li a {
    color: #121212;
    text-decoration: none;
    padding: 10px;
}

.header {
    border-bottom: 1px solid silver;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 9999;
    overflow: hidden;
}

.header .logo a img {
    height: auto;
    width: 200px;
}

.header .logo {
    margin-right: 24px;
}

.header_nav ul {
    display: flex;
    align-items: center;
}

.search_bar {
    overflow: hidden;
    position: relative;
}

.search_btn {
    position: absolute;
    right: 0;
    top: 0;
    background: #fd7e14;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    padding: 6px 9px;
}

.search_bar input {
    border-radius: 20px;
    border: 1px solid #929292;
    padding: 4px;
    width: 100vh;
}

.header_nav ul li {
    list-style: none;
}

.header_nav ul li a {
    color: #121212;
    text-decoration: none;
    padding: 5px;
    transition: .1s;
}

.header_nav ul :nth-child(3) {
    background: #000;
    border: 1px solid black;
    border-radius: 40px;
    padding: 6px 6px;
}

.header_nav ul :nth-child(3) a {
    color: #fff;
}

.header_nav ul :nth-child(3) .number {
    background: #fd7e14;
    border: none;
    border-radius: 10px;
    padding: 3px;
}

.header_nav ul :hover:nth-child(3) {
    background: #fd7e14;
    transition: .2s;
}

.card_text {
    padding: 5px;
}

.header_nav {
    margin-left: 50px;
}

.hover:hover {
    color: #fd7e14 !important;

}

.dropdown {
    position: relative;
    margin-top: 4px;
    padding-bottom: 12px;
    border-bottom: 1px solid silver;
    background: #fff;
    z-index: 9999;
    overflow: hidden;
}

.dropdown::after {
    content: '';
    width: 1px;
    right: 74rem;
    height: 2px;
    height: 100%;
    position: absolute;
    background: #ebebeb;
    top: -3px;
}

.dropdown_card {
    cursor: pointer;
    padding: 4px;
    padding-left: 43px;
    padding-right: 10px;
    position: relative;
    display: inline-block;
    background: #fd7e14;
    border-radius: 2px;
    color: #fff;
    margin-left: 12rem;
}

/* i.bi.bi-arrow-down-short */
.dropdown_card::before {
    content: '';
    width: 17px;
    height: 2px;
    position: absolute;
    background: #fff;
    top: 10px;
    box-shadow: 0px 5px #fff;
    left: 10px;
}

.dropdown_card::after {
    content: '';
    width: 13px;
    height: 2px;
    position: absolute;
    background: #fff;
    left: 10px;
    bottom: 9px;
}

.sticky {
    position: sticky;
    top: 0;
    background: #ffff;
    overflow: hidden;
    z-index: 1;
}

.burger::before {
    content: '';
    width: 20px;
    height: 1px;
    background: #000;
    position: absolute;
    transform: translateY(-8px);
    /* right: 50px; */
}

.burger {
    position: relative;
    cursor: pointer;
}

.burger::after {
    content: '';
    width: 20px;
    height: 1px;
    background: #000;
    box-shadow: 0 -8px 0 0 black;
    position: absolute;
    transform: translateY(8px);
    /* right: 50px; */
}




/* HERO SECTION */

#hero {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.content_hero {
    margin-top: 12rem;
}

.content_hero h1 {
    padding-bottom: 20px;
}

.content_hero .hero_details {
    padding-bottom: 20px;
}

.hero_png {
    margin-top: 3rem;
}

.img_hero {
    position: relative;

}

.hero_btn-1 {
    border: none;
    padding: 5px 20px;
    margin-right: 20px;
    border-radius: 20px;
    background: #fd7e14;
    color: #fff;
    font-weight: 400;
}

.hero_btn-2 {
    border: 1px solid #fd7e14;
    padding: 5px 20px;
    border-radius: 20px;
    background: transparent;
    color: var(--clr);
    font-weight: light;
}


.hero_btn-1:hover {
    border: 1px solid #fd7e14;
    background: transparent;
    color: #121212;
    transition: .2s;

}

.hero_btn-2:hover {
    border: none;
    border-radius: 20px;
    background: #fd7e14;
    color: #fff;

}

.box-1 {
    background: white;
    box-shadow: 0 0 18px 0 #c9c9c9;
    display: inline-block;
    border-radius: 20px;
    position: absolute;
    bottom: 150px;
    left: -41px;
    animation: UpDown 1s linear infinite;
    transition: .5s;
}

@keyframes UpDown {
    0% {
        bottom: 150px;
    }

    50% {
        bottom: 145px;
    }

    100% {
        bottom: 140px;
    }
}

.box-2 {
    background: white;
    box-shadow: 0 0 18px 0 #c9c9c9;
    display: inline-block;
    border-radius: 20px !important;
    position: absolute;
    animation: Down 1s linear infinite;
    transition: .5s;
    bottom: 0;
    right: 0;
}

@keyframes Down {
    0% {
        bottom: 0;
    }

    50% {
        bottom: .5em;
    }

    100% {
        bottom: 0px;
    }
}

/* EXPERTS SECTION */
#expert {
    background: linear-gradient(-45deg, #0a043c, #03506f, #a3ddcb);
}

.expert_heading {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.expert_heading h1 {
    position: absolute;
    color: #fff;
    top: 65px;
    left: 60px;
}

.expert_btn {
    position: absolute;
    right: -65px;
    top: 78px;
}

.expert_btn_inner {
    background: #fd7e14;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .2s;
}

.cards {
    min-height: 100vh;
    margin-top: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.card_detail span {
    color: #fff;
    z-index: -1;
}

.card_detail p {
    color: #fff;
    font-weight: 500;
    z-index: -1;
}

.card_detail {
    position: absolute;
}

.card_detail p:hover {
    color: #000;
    transition: .2s;
    font-weight: 500;
}

.card_btn {
    background: #fd7e14;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 20px;
    position: absolute;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    cursor: pointer;
    position: relative;
}

.card-1 {
    margin-bottom: 63px;
}

.card-1:hover .card_overlay {
    opacity: .7;
}

.card-2:hover .card_overlay {
    opacity: .7;
}

.card-3:hover .card_overlay {
    opacity: .7;
}

.card-4:hover .card_overlay {
    opacity: .7;
}

.card_overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3) !important;
    /* height: 226px; */
    height: 100%;
    /* width: 315px; */
    width: 100%;
    opacity: 0;
    transition: .5s;
}

.icon-2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-20px, 20px);
    background: orange;
    /* height: 100%; */
    padding: 12px;
    border-radius: 20px;
    /* width: 100%; */
    overflow: hidden;
}

.icon-1 {
    position: absolute;
    top: 40%;
    left: 32%;
    transform: translateX(-20px, 20px);
    background: orange;
    /* height: 100%; */
    padding: 12px;
    border-radius: 20px;
    /* width: 100%; */
    overflow: hidden;
}

/* fancy Text Section */

#fancy-text {
    position: relative;
    background: #242424;
}

.fancy_img img {
    height: auto;
    width: 87%;
}

.fancy_details {
    position: absolute;
    left: 56%;
    padding-bottom: 70px;
    border-bottom: 1px solid #fd7e14;
    top: 17%;
}

.fancy_details h1 {
    font-size: 3.2rem;
    color: #fff;
    font-weight: 500;
}

.fancy_details span {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.fancy_btn {
    position: absolute;
    bottom: 8rem;
    left: 56rem;
}

.fancy_button {
    background: #fd7e14;
    border: none;
    outline: none;
    padding: 11px 50px;
    border-radius: 26px;
    color: #fff;
    font-weight: 500;
    transition: .2s;
}

.fancy_button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #fd7e14;

}

.expert_btn_inner:hover {
    background: #fff;
    color: black;
    border: 2px solid #fd7e14;
}

/* LED SECTION */
#led {
    height: 100vh;
}

.led_img-1 img {
    border-radius: 50%;
    height: 330px;
    width: 330px;
    position: absolute;
    left: 215px;
    top: 100px;
}

.counter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter span {
    position: absolute;
    right: -84px;
    bottom: -294px;
}

.counter span img {
    height: 100px;
}

.counter span::after {
    content: "";
    position: absolute;
    height: 43vh;
    width: 44vh;
    border-radius: 50%;
    border: 5px solid #efefef;
    left: -20px;
    top: -102px;
    bottom: 24px;
}

.right {
    width: 100%;
    height: 100%;
    background: none;
    position: absolute;
    top: 12rem;
    border: 5px solid #fd7e14;
    left: 72%;
    border-top-left-radius: 180px;
    border-bottom-left-radius: 180px;
    border-right: 0;
    transform-origin: center right;
}

.led_details {
    position: absolute;
    top: 9rem;
    right: 97px;
}

.led_details h5 {
    color: #fd7e14;
    font-weight: 500;
}

.led_details h1 {
    font-size: 30px;
    font-weight: 700;
    color: #414141;
}

.led_btn {
    background: #000;
    border: none;
    transition: .5s;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 53px;
    color: #fff;
    font-weight: 500;
}

.led_btn:hover {
    color: white;
    font-weight: 500;
    background: #fd7e14;
}

/* SLIDER SECTION */
#slider {
    height: 100vh;
    background-color: rgba(253, 126, 20, .1);
}

.container_slider {
    overflow: hidden;
}

.container_slider .slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
}

.container_slider .slider .logos {
    width: 100%;
    display: inline-block;
    margin: 0px 0;
}

.container_slider .slider .logos .fab {
    width: calc(100% / 5);
    animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* FOOTER SECTION */
#footer {
    background-color: #333;
    color: #fff;
    padding-bottom: 25px;
}

.footer_details {
    width: 500px;
    margin-left: 50px;
}

.footer_nav {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer_first {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    left: 9rem;
    top: 6rem;
}

.footer_first li {
    list-style: none;
    line-height: 2;
}

.footer_first li a {
    text-decoration: none;
    color: #fff;
}

.hr {

    background: #fff;
    position: absolute;
    width: 100%;
    top: 54px;
    height: 3px;
}

.footer_second {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 35px;
    top: 6rem;
    line-height: 2;
}

.footer_second li {
    list-style: none;
}

#footer_end {
    background-color: #2b2b2b;
}

.footer-para {
    color: #fff;
    text-align: center;
    padding: 19px 16%;
}


/* ***** RESPONSIVE MEDIA QUERIES ***** */

@media only screen and (max-width:768px) {
    .card_text {
        padding: 0px;
    }

    .header_nav {
        margin-left: 0px;
    }

    .fancy_btn {
        position: absolute;
        bottom: 3rem;
        left: 31rem;
    }

    .fancy_img {
        height: auto;
        width: 50%;
        margin-top: 100px;
    }

    #fancy-text {
        height: 100vh;
        width: 100%;
    }

    .cards {
        display: block;
        overflow: hidden;
    }

    .counter span {
        position: absolute;
        right: 0px;
        bottom: -294px;
    }

    .counter span::after {
        content: "";
        position: absolute;
        height: 43vh;
        width: 48vh;
        border-radius: 50%;
        border: 5px solid #efefef;
        left: -20px;
        top: -102px;
        bottom: 24px;
    }

    .led_img-1 img {
        left: 0px;
    }

    .led_details {
        position: absolute;
        top: 27rem;
        right: 110px;
    }

    #footer {
        background-color: #333;
        color: #fff;
        padding-bottom: 218px;
    }
}