@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --border-color: #929292;
    --clr: #121212;
    --org: #fd7e14;
}

/* HEADER SECTION */

#header {
    border-bottom: 1px solid silver;
}

#header ul {
    display: flex;
    justify-content: end;
    margin-right: 13rem;
    align-items: center;
    border-bottom: 1px solid silver;
}

#header ul li {
    list-style: none;
}

#header ul li a {
    color: #121212;
    text-decoration: none;
    padding: 10px;
}

.header {
    border-bottom: 1px solid silver;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo a img {
    height: auto;
    width: 200px;
}

.header .logo {
    margin-right: 24px;
}

.header_nav ul {
    display: flex;
    align-items: center;
}

.search_bar {
    overflow: hidden;
    position: relative;
}

.search_btn {
    position: absolute;
    right: 0;
    top: 0;
    background: #fd7e14;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    padding: 6px 9px;
}

.search_bar input {
    border-radius: 20px;
    border: 1px solid #929292;
    padding: 4px;
    width: 100vh;
}

.header_nav ul li {
    list-style: none;
}

.header_nav ul li a {
    color: #121212;
    text-decoration: none;
    padding: 5px;
}

.header_nav ul :nth-child(3) {
    background: #000;
    border: 1px solid black;
    border-radius: 40px;
    padding: 6px 6px;
}

.header_nav ul :nth-child(3) a {
    color: #fff;
}

.header_nav ul :nth-child(3) .number {
    background: #fd7e14;
    border: none;
    border-radius: 10px;
    padding: 3px;
}

.header_nav ul :hover:nth-child(3) {
    background: #fd7e14;
    transition: .2s;
}

.card_text {
    padding: 5px;
}

.dropdown {
    position: relative;
    margin-top: 4px;
    padding-bottom: 12px;
    border-bottom: 1px solid silver;
}

.dropdown::after {
    content: '';
    width: 1px;
    right: 74rem;
    height: 2px;
    height: 100%;
    position: absolute;
    background: #ebebeb;
    top: -3px;
}

.dropdown_card {
    cursor: pointer;
    padding: 4px;
    padding-left: 43px;
    padding-right: 10px;
    position: relative;
    display: inline-block;
    background: #fd7e14;
    border-radius: 2px;
    color: #fff;
    margin-left: 12rem;
}

/* i.bi.bi-arrow-down-short */
.dropdown_card::before {
    content: '';
    width: 17px;
    height: 2px;
    position: absolute;
    background: #fff;
    top: 10px;
    box-shadow: 0px 5px #fff;
    left: 10px;
}

.dropdown_card::after {
    content: '';
    width: 13px;
    height: 2px;
    position: absolute;
    background: #fff;
    left: 10px;
    bottom: 9px;
}

/* HERO SECTION */

#hero {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.content_hero {
    margin-top: 12rem;
}

.content_hero h1 {
    padding-bottom: 20px;
}

.content_hero .hero_details {
    padding-bottom: 20px;
}

.hero_png {
    margin-top: 3rem;
}

.img_hero {
    position: relative;

}

.hero_btn-1 {
    border: none;
    padding: 5px 20px;
    margin-right: 20px;
    border-radius: 20px;
    background: #fd7e14;
    color: #fff;
    font-weight: 400;
}

.hero_btn-2 {
    border: 1px solid #fd7e14;
    padding: 5px 20px;
    border-radius: 20px;
    background: transparent;
    color: var(--clr);
    font-weight: light;
}


.hero_btn-1:hover {
    border: 1px solid #fd7e14;
    background: transparent;
    color: #121212;
    transition: .2s;

}

.hero_btn-2:hover {
    border: none;
    border-radius: 20px;
    background: #fd7e14;
    color: #fff;

}

.box-1 {
    background: white;
    box-shadow: 0 0 18px 0 #c9c9c9;
    display: inline-block;
    border-radius: 20px;
    position: absolute;
    bottom: 150px;
    left: -41px;
    animation: UpDown 1s linear infinite;
    transition: .5s;
}

@keyframes UpDown {
    0% {
        bottom: 150px;
    }

    50% {
        bottom: 145px;
    }

    100% {
        bottom: 140px;
    }
}

.box-2 {
    background: white;
    box-shadow: 0 0 18px 0 #c9c9c9;
    display: inline-block;
    border-radius: 20px !important;
    position: absolute;
    animation: Down 1s linear infinite;
    transition: .5s;
    bottom: 0;
    right: 0;
}

@keyframes Down {
    0% {
        bottom: 0;
    }

    50% {
        bottom: .5em;
    }

    100% {
        bottom: 0px;
    }
}

/* EXPERTS SECTION */
#expert {
    background: linear-gradient(-45deg, #0a043c, #03506f, #a3ddcb);
}

.expert_heading {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expert_heading h1 {
    color: #fff;
}

.expert_btn_inner {
    background: #fd7e14;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.cards {
    margin-top: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_detail span {
    color: #fff;
}

.card_detail p {
    color: #fff;
    font-weight: 500;
}

.card_detail p:hover {
    color: #000;
    transition: .2s;
    font-weight: 500;
}

.card_btn {
    background: #fd7e14;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 20px;
}