<header id="header">
    <ul>
        <li>
            <a href="#"><i class="bi bi-lock-fill text-warning"></i>Sign In</a>
        </li>
        <li>
            <a href="#"><i class="bi bi-person-fill text-warning"></i>Sign Up</a>
        </li>
        <li>
            <a href="#"><i class="bi bi-heart-fill text-warning"></i>My List</a>
        </li>
    </ul>
</header>

<div class="sticky">
    <div class="header">
        <div class="logo"><a href="#"><img [src]="logo" alt=""></a></div>
        <div class="search_bar"><input type="text" placeholder="Enter Keyword or Manufacturer Product Id">
            <div class="search_btn"><a href="#"><i class="bi bi-search text-white"></i></a></div>
        </div>
        <div class="header_nav">
            <ul>
                <li><a href="#" class="hover">About</a></li>
                <li><a href="#" class="hover">FAQs</a></li>
                <li><a href="#"><i class="bi bi-cart text-white"></i> <span class="card_text">Cart </span>
                        <span class="number">0</span></a></li>
                <!-- <div class="burger"></div> -->
            </ul>
        </div>
    </div>
    <div class="dropdown">
        <div class="dropdown_card">Shop By Category <i class="bi bi-arrow-down-short"></i></div>
    </div>
</div>
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="content_hero">
                    <h1>3M N95 PARTICULATE <br> RESPIRATOR SURGICAL <br> MASK</h1>
                    <div class="hero_details">
                        <p>NIOSH approved as a Type 95 respirator It meets CDC guidelines for TB <br> exposure control
                            and is
                            designed
                            specifically for use in a health care <br> setting</p>
                    </div>
                    <div class="hero_btn">
                        <button class="hero_btn-1">Shop Now</button>
                        <button class="hero_btn-2">View Product</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img_hero">
                    <div class="hero_png"><img [src]="hero_png" alt=""></div>
                    <div class="box-1"><img [src]="hero_box_1" alt=""></div>
                    <div class="box-2"><img [src]="hero_box_2" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="expert">
    <div class="container">
        <div class="expert_heading">
            <h1>Featured Products</h1>
            <div class="expert_btn">
                <button class="expert_btn_inner">View All Products</button>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="card-1">
                        <img style="height:'226px';" [src]="expert_img_1" alt="">
                        <div class="card_overlay">
                            <span class="icon-1"><i class="bi bi-heart-fill text-white"></i></span>
                            <span class="icon-2"><i class="bi bi-search text-white"></i></span>
                        </div>
                        <div class="card_detail">
                            <p>CROSSTEX ADVANTAGE EARLOOP MASK</p>
                            <br>
                            <span>SKU: 10021610</span>
                            <br>
                            <button class="card_btn">Add To Card</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="card-2"><img style="height:'226px';" [src]="expert_img_1" alt="">
                        <div class="card_overlay">
                            <span class="icon-1"><i class="bi bi-heart-fill text-white"></i></span>
                            <span class="icon-2"><i class="bi bi-search text-white"></i></span>
                        </div>
                        <div class="card_detail">
                            <p>CROSSTEX ADVANTAGE EARLOOP MASK</p>
                            <br>
                            <span>SKU: 10021610</span>
                            <br>
                            <button class="card_btn">Add To Card</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="card-3"><img style="height:'226px';" [src]="expert_img_1" alt="">
                        <div class="card_overlay">
                            <span class="icon-1"><i class="bi bi-heart-fill text-white"></i></span>
                            <span class="icon-2"><i class="bi bi-search text-white"></i></span>
                        </div>
                        <div class="card_detail">
                            <p>CROSSTEX ADVANTAGE EARLOOP MASK</p>
                            <br>
                            <span>SKU: 10021610</span>
                            <br>
                            <button class="card_btn">Add To Card</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="card-4"><img style="height:'226px';" [src]="expert_img_1" alt="">
                        <div class="card_overlay">
                            <span class="icon-1"><i class="bi bi-heart-fill text-white"></i></span>
                            <span class="icon-2"><i class="bi bi-search text-white"></i></span>
                        </div>
                        <div class="card_detail">
                            <p>CROSSTEX ADVANTAGE EARLOOP MASK</p>
                            <br>
                            <span>SKU: 10021610</span>
                            <br>
                            <button class="card_btn">Add To Card</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="card-1"><img style="height:'226px';" [src]="expert_img_1" alt="">
                        <div class="card_overlay">
                            <span class="icon-1"><i class="bi bi-heart-fill text-white"></i></span>
                            <span class="icon-2"><i class="bi bi-search text-white"></i></span>
                        </div>
                        <div class="card_detail">
                            <p>CROSSTEX ADVANTAGE EARLOOP MASK</p>
                            <br>
                            <span>SKU: 10021610</span>
                            <br>
                            <button class="card_btn">Add To Card</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="card-2"><img style="height:'226px';" [src]="expert_img_1" alt="">
                        <div class="card_overlay">
                            <span class="icon-1"><i class="bi bi-heart-fill text-white"></i></span>
                            <span class="icon-2"><i class="bi bi-search text-white"></i></span>
                        </div>
                        <div class="card_detail">
                            <p>CROSSTEX ADVANTAGE EARLOOP MASK</p>
                            <br>
                            <span>SKU: 10021610</span>
                            <br>
                            <button class="card_btn">Add To Card</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="card-3"><img style="height:'226px';" [src]="expert_img_1" alt="">
                        <div class="card_overlay">
                            <span class="icon-1"><i class="bi bi-heart-fill text-white"></i></span>
                            <span class="icon-2"><i class="bi bi-search text-white"></i></span>
                        </div>
                        <div class="card_detail">
                            <p>CROSSTEX ADVANTAGE EARLOOP MASK</p>
                            <br>
                            <span>SKU: 10021610</span>
                            <br>
                            <button class="card_btn">Add To Card</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="card-4"><img style="height:'226px';" [src]="expert_img_1" alt="">
                        <div class="card_overlay">
                            <span class="icon-1"><i class="bi bi-heart-fill text-white"></i></span>
                            <span class="icon-2"><i class="bi bi-search text-white"></i></span>
                        </div>
                        <div class="card_detail">
                            <p>CROSSTEX ADVANTAGE EARLOOP MASK</p>
                            <br>
                            <span>SKU: 10021610</span>
                            <br>
                            <button class="card_btn">Add To Card</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fancy-text">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="fancy_img">
                    <img [src]="fancy_img" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="fancy_details">
                    <img [src]="fancy_img_2" alt="">
                    <h1>Clean like lives depend on <br> it</h1>
                    <span>
                        Empower EVS staff to help prevent HAIs.</span>
                </div>
                <div class="fancy_btn">
                    <button class="fancy_button">Explore Solutions</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="led">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="position:relative;">
                <div class="led_img-1"><img [src]="led_img" alt=""></div>
                <div class="counter">
                    <span>
                        <img [src]="led_counter" alt="">
                        <img [src]="led_counter_2" alt="">
                        <img [src]="led_counter_3" alt="">
                    </span>
                </div>
            </div>
            <div class="col-md-6" style="position:relative;">
                <div class="led_details">
                    <h5>StarTrol – LED Medical Lighting</h5>
                    <br>
                    <h1>
                        Cool-running bright white LED <br> lights
                    </h1>
                    <br>
                    <p>Superior Illumination</p>
                    <button class="led_btn">Explore</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="slider">
    <div class="container_slider h-100">
        <div class="row align-items-center h-100">
            <div class="container rounded">
                <h1 class="text-center">Partners</h1>
                <div class="slider">
                    <div class="logos">

                        <img [src]="led_counter" alt="">
                        <img [src]="led_counter_2" alt="">
                        <img [src]="led_counter_3" alt="">
                        <img [src]="led_counter" alt="">
                        <img [src]="led_counter_2" alt="">
                    </div>
                    <div class="logos">
                        <img [src]="led_counter" alt="">
                        <img [src]="led_counter_2" alt="">
                        <img [src]="led_counter_3" alt="">
                        <img [src]="led_counter" alt="">
                        <img [src]="led_counter_2" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="row">
    <div class="col-md-12">
        <img [src]="footer_banner_upper" alt="" style="width: 100%;">
    </div>
</div>
<footer id="footer">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">
                <div class="footer_details">
                    <img [src]="footer_logo" alt="" style="width: 227px;">
                    <br>
                    <br>
                    <p> Supplies is a privately owned company based on Long Island, New York that provides
                        comprehensive medical supply and equipment as well as consultation services to hospital systems,
                        ambulatory care, laboratories and veterinarians.</p>
                    <br>
                    <h5> Follow Us:</h5>
                    <br>
                    <img [src]=" footer_face" alt="" style="height: 56px;"><img [src]=" footer_tweet" alt=""
                        style="height: 56px;"><img [src]="footer_insta" alt=" " style="height: 56px;">
                </div>


            </div>
            <div class="col-md-6">
                <div class="footer_nav">
                    <h1>Useful Links</h1>
                    <ul class="footer_first">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                    <h1>Get in Touch</h1>
                    <ul class="footer_second">
                        <li>
                            <p><i class="bi bi-geo-alt-fill"></i> PO BOX 1129 Westhampton Beach,
                                NY 11978</p>
                        </li>
                        <li>
                            <p><i class="bi bi-telephone-fill"></i> 800-351-1061
                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-envelope-fill"></i> info@directmedsupplies.com</p>
                        </li>
                        <li>
                            <p><i class="bi bi-clock"></i> 9am - 5pm Mon-Fri</p>
                        </li>
                    </ul>
                    <hr class="hr">
                </div>

            </div>
        </div>
    </div>
</footer>
<footer id="footer_end">
    <p class="footer-para">©2022 Direct Med Supplies, All rights reserved. The supplies
        you need the
        service you trust! is a trademark and
        DirectMed Supplies is a registered trademark of Direct Med Supplies. All trademarks, regardless of whether they
        appear with a trademark symbol, are the property of their respective owners unless otherwise noted. Trademark
        designations refer to the United States only.
        Powered by Naologic</p>
</footer>